# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
java/.idea/
java/.gradle/
kotlin/.gradle/
kotlin/.idea/
kotlin/out/
python/.idea/
python/venv/
*.pyc
groovy/.idea/
groovy/.gradle/
csharp/Life/.idea/
scala/target/
csharp/Life/LifeTest/obj/
csharp/Life/LifeTest/bin/
csharp/Life/Life/obj/
csharp/Life/Life/bin/
scala/.idea/
scala/project/target/
golang/.idea/
cpp/Life/Debug/
cpp/Life/.vs/
